################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DevApp.API/bin/Debug/net8.0
/DevApp.API/obj
/DevApp.API/Properties
/ExternalAPIConfigurations/bin/Debug/net8.0
/ExternalAPIConfigurations/obj
/ExternalAPIResponse.Models/bin/Debug/net8.0
/ExternalAPIResponse.Models/obj
/TestAPI/bin/Debug/net8.0
/TestAPI/obj
/TestAPI/Properties
